<div class="container">
    <h2>AWS Cognito Authentication</h2>
    <br>
    <div class="card bg-primary text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoRegister()">Register</div>
    </div>
    <br>
    <div class="card bg-success text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoLogin()">Login</div>
    </div>
    <br>
    <div class="card bg-info text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoConfirmCode()">Confirm Code</div>
    </div>
    <br>
    <div class="card bg-warning text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoResendCode()">Resend Verification Code</div>
    </div>
    <br>
    <div class="card bg-danger text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoChangePwd()">Change Password</div>
    </div>
    <br>
    <!-- <div class="card bg-warning text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoChangeTempPwd()">Change Temporary Password</div>
    </div>
    <br> -->
    <div class="card bg-secondary text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoForgotCode()">Forgot Password</div>
    </div>
    <br>
    <div class="card bg-dark text-white">
      <div class="card-body" style="cursor: pointer;" (click)="gotoAuthCognitoSession()">Get Session</div>
    </div>
    <br>
    <div class="card bg-danger text-white">
      <div class="card-body" style="cursor: pointer;" (click)="logoutUser()">Logout Current User</div>
    </div>
  </div>
  <br><br><br>